html,
body {
  margin: 0;
  padding: 0;
}
.grid-container {
  height: 100vh;
  width: 100vw;
  /* your properties here */
  display:grid;
  grid-template: [header-start] 1fr [header-end] 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
  grid-gap: 5px;
  justify-items:stretch;
  align-items:stretch;;
}
.grid-item {
  background-color: grey;
  border: 1px solid black;
}
/* add the .bigItem class */
.bigItem {
 grid-area: 2 / 2 / 4 / 4;
  width: 50%;
  justify-self: center;
  align-self:baseline;;
}
