html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
 grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
grid-area: <grid-row-start> / <grid-column-start> / <grid-row-end> / <grid-column-end>
.bigItem {
  
    grid-area: 2 / 2 / 4 / 4;
    grid-area: footer-start / 1 / footer-end / 4;
}

